# Created by .ignore support plugin (hsz.mobi)
### WordPress template
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
.htaccess
license.txt
readme.html
sitemap.xml
sitemap.xml.gz
wp-content/plugins/all-in-one-wp-migration/
wp-content/ai1wm-backups/
wp-admin/
wp-content/plugins/simple-cache/
wp-content/plugins/query-monitor/readme.txt
wp-content/plugins/custom-post-type-ui/readme.txt
wp-content/plugins/advanced-custom-fields/readme.txt
wp-content/themes/wp-gulp-automation/node_modules/
wp-content/themes/wp-gulp-automation/.sass-cache/
/wp-config-sample.php
