.tutorial {
  padding-top: 120px;
  background-color: $wv-blue;
}

.supplemental-region-container {
  background-color: $wv-blue-lighter;
  padding-top: 40px;
}

.supplemental-content {
  header {
    padding-bottom: 40px;
  }

  aside ul {
    border: 1px solid $gray-lighter;
    background-color: #fefefe;
    padding: 20px;
  }

  aside li {
    margin-left: 20px;
    list-style-type: none;
  }

  aside li h4 {
    display: inline-block;
    left: -33px;
    position: relative;
    top: 2px;
  }
}

.supplemental-content-primary section:nth-child(1) h3 {
  margin-top: 0;
}

.supplemental-content-primary {
  ul {
    padding: 0;
    margin-left: 25px;
  }

  li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-lighter;
  }

  div[class^="supplemental-content-"] {
    margin-bottom: 70px;
  }
}

