#page {
  background-color: $wv-white;

  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#content {

}