.btn-wv {
  padding: 10px;
  background: transparent;
  @include border-radius(4px);

  @at-root #{&}__tag {
    color: black;
  }
  @at-root #{&}__item {
    color: red;
  }
  @at-root #{&}__cta {
    color: $wv-red;
    border: solid 2px $wv-red;
    padding: 10px 20px;
  }
}

li.btn-wv_tag {
  padding: 0;
}

.btn-wv_tag {
  a {
    padding: 5px 8px;
    border: 1px solid $wv-white;
    margin: 0 $baseline-height*0.25;
    border-radius: 3px;
  }
}