.card {
  @at-root #{&}__img {
    color: black;
  }
  @at-root #{&}_size_wide {
    max-width: 100%;
  }
}











/* Context */
.related-posts-container {
  .content-card {
    max-width: 100%;
  }
}


/* Basic Card */

.content-card-container {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 380px;
}

.content-card__bg a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.content-card {
  /* Rectangle 2: */
  background-image: linear-gradient(-180deg, #27D6BE 3%, #5FC0DD 45%);
  overflow: hidden;
  opacity: 1;
  @include border-radius(3px);
  @include single-box-shadow(3px, 3px, 2px, 1px, rgba(0, 0, 0, 0.3));
  font-family: "Helvetica", "Arial", sans-serif;
}


.content-card:hover {
  background-image: linear-gradient(-180deg, #666 3%, #333 45%);
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
}


.content-card:hover .content-card__bg::after {
  opacity: 0.2;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);

  @include transition-property(opacity);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);

}

.content-card__bg {
  opacity: 1;
  padding-top: 150px;
  position: relative;
  overflow: hidden;
}

.content-card__bg a::after {
  content: '';
  background: transparent url('images/play_btn.png') no-repeat center/20%;
  top: -27%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.content-card__bg::after {
  content: '';
  background: inherit;
  opacity: 0.1;
  top: -10%;
  left: 0%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  @include transition-property(opacity);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
}


.content-card__main {
  bottom: -20px;
  position: relative;
  width: 110%;
  margin-left: -10px;
  padding-bottom: 20px;
  background-color: #F7F7FF;
  z-index: 3;
}

.content-card__date {
  color: #B7C1FF;
  padding: 30px 30px 5px 30px;
}

.content-card__title {
  padding: 10px 30px;
  min-height: 100px;
}

.content-card-btn {
  border-top: 1px solid #DFDFE6;
  position: relative;
  z-index: 100;
}

.content-card-btn__title {
  color: blue;
  padding: 20px 30px;
}


@media (max-width: $screen-sm-min) {
  .related-posts-container .content-card-container {
    padding-left: 0;
    padding-right: 0;
  }
}

