/*
  BEM
  https://en.bem.info/methodology/quick-start/
*/

.header {
  @at-root #{&}__logo {
    color: black;
  }

  @at-root #{&}__sign-up {
    color: black;
  }

  @at-root #{&}__menu {
    color: black;
  }

  @at-root #{&}__search {
    color: black;
  }

  @at-root #{&}_size_mobile {
    color: yellow;
  }
}