.video {
  position: relative;
  z-index: 100;
  overflow: visible;

  @include wv-gradient-bg();

  article, section {
    position: relative;
    z-index: 100;
    overflow: visible !important;
  }

  @at-root #{&}__embed {
    position: relative;
    bottom: $baseline-height * -1;
    z-index: 100;
    overflow: visible;
  }

  @at-root #{&}__details {
    padding-top: $baseline-height * 2;
  }

}