.video {
  position: relative;
  z-index: 100;
  overflow: visible;

  @include wv-gradient-bg();

  article, section {
    position: relative;
    z-index: 100;
    overflow: visible !important;
  }

  .video__embed {
    position: relative;
    bottom: $baseline-height * -1;
    z-index: 100;
    overflow: visible;
  }
}